My first jupyter notebook code

In [3]:
# The code was removed by Watson Studio for sharing.

,PLAYER,Record_ID#,SALARY,ROOKIE,POS,G,PA,AB,H,1B,...,R3,R1_BI,R2_BI,R3_BI,ROB,OBI,R1BI%,R2BI%,R3BI%,OBI%
0,Gregg Zaun,1,3750000,0,2,85,288,245,58,40,...,39,2,9,13,203,24,2.2,12.0,33.3,11.8
1,Henry Blanco,2,3175000,0,2,54,128,120,35,29,...,18,1,2,6,107,9,1.9,5.4,33.3,8.4
2,Moises Alou,7,7500000,0,7,15,54,49,17,15,...,7,0,4,5,33,9,0.0,40.0,71.4,27.3
3,Corey Patterson,9,3000000,0,8,123,392,366,75,46,...,37,3,6,15,218,24,2.6,9.0,40.5,11.0
4,Rod Barajas,10,700000,0,2,100,377,349,87,53,...,52,10,11,17,275,38,6.8,14.5,32.7,13.8